commonroad_vehicle_models>=3.0.2
matplotlib<=3.7.1
networkx>=3.1
numpy>=1.24.2
methodtools
omegaconf>=2.1.1
scipy>=1.7.1
sphinx>=2.2.1
commonroad-route-planner>=2022.3
commonroad-io==2023.2
commonroad-drivability-checker>=2023.1
commonroad-helper-functions
ruamel.yaml
pygeos
imageio
shapely>=2.0.1
onnxruntime>=1.15.1
frenetix>=0.1.0
wheel>=0.37.0
pandas>=2.0.1
triangle>=20230923